.wrap {

  display: inline-flex;
}
.link{
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  background-color: #2a3038;
  padding: 5px 10px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  &:hover{
    background-color: #4e555f;
  }
}
@mixin ico($background-color, $hover-background-color){
  color: white;
  background-color: $background-color;
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  &:hover{
    background-color: $hover-background-color;
  }
}

.remove{
  @include ico(#e6442e, #9c1907);

}

.restore{
  @include ico(#00e019, #00ca16);
}