

.admin-select{
  &__wrap{
    margin: 10px;
    position: relative;
      width: 150px;
  }
  &__radio-button{
    cursor: pointer;
    font-size: 18px;
    &--title{
      position: absolute;
      top: -13px;
      left: 20px;
      background-color: #fff;
      padding: 0 5px;
      font-size: 16px;
    }
    &--wrap {
      display: inline-flex;
      justify-content: space-between;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #cccccc;
      border-radius: 5px;
      padding: 12px 20px;
      transition-duration: 0.5s;
      outline: none;
    }

    &:hover {
      color: #3a3838
    }
    &--active {
      color: #31a8ff;
      cursor: default;

      &:hover {
        color: #31a8ff
      }
    }
  }
  &__input{
    position: absolute;
    visibility: hidden;
  }
}