@mixin webkit-autofill ($color){
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px $color inset !important;
  }
}

.input{
  box-sizing: border-box;
  width: 100%;
  font-size: 18px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 13px 10px;
  transition-duration: 0.5s;
  outline: none;
  @include webkit-autofill(#fff);
  &--required{
    background-color: #ff9a9a;
    @include webkit-autofill(#ff9a9a);

  }
  &--password{
    padding-right: 30px;
  }
  &--textarea{
    resize: none;
    height: 300px;
  }
  &__label{
    position: absolute;
    top: -13px;
    left: 20px;
    background-color: #fff;
    padding: 0 5px;
    font-size: 16px;
    transition-duration: 0.5s;
    text-transform: capitalize;
    &--required{
      background: linear-gradient( transparent 0, #ff9a9a 50%);
    }
    &--normal{
      position: relative;
      left: 0;
      top: 0;
      line-height: 2;
    }
  }
  &__wrap{
    position: relative;
    margin: 10px;
  }
  &__ico-eye{
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
    z-index: 6;
  }

}