.wrap{
  background-color: rgba(0, 0, 0, 0.34);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  z-index: 10;

}

.box{
  background-color: #ffffff;
  -webkit-box-shadow: -2px 4px 53px -7px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: -2px 4px 53px -7px rgba(0, 0, 0, 0.56);
  box-shadow: -2px 4px 53px -7px rgba(0, 0, 0, 0.56);
  width: 600px;
  margin: 0 auto;
  position: relative;
  top: 25%;
  padding: 0 20px;
  @media (max-width: 767px) {
    width: 80%;
  }
}

.buttons{
  display: inline-flex;
  justify-content: center;
  width: 100%;
  column-gap: 50px;
  padding: 10px 20px 30px 20px;
  box-sizing: border-box;
  bottom: 0;
  flex-wrap: wrap;
  row-gap: 25px;
}
.content{
  padding: 10px 20px;
  min-height: 100px;
  justify-content: center;
  display: flex;
  align-items: center;
}