
.user{
  background-color: #f1f1f1;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  &--container{
    width: 1260px;
    padding-top: 60px;
    position: relative;
    @media (max-width:1200px) {
      width: 900px;
    }

    @media (max-width:1440px) {
      width: 900px;
    }

    @media (max-width:1180px) {
      width: 700px;
    }

    @media (max-width:768px) {
      width: 100%;
      padding-left: 6px;
      box-sizing: border-box;
      padding-right: 6px;
      overflow: hidden;
      padding-bottom: 40px;
    }
  }
}