///#31a8ff

.header{
  $base-text-color: white;
  $base-hover-text-color: #46adf9;
  background-color: black;
  position: fixed;
  display: flex;
  justify-content: center;
  height: 45px;
  width: 100%;
  z-index: 6;

  &--container{
    width: 1260px;
    display: flex;
    justify-content: space-between;
  }
  &__ico{
    &--home{
      font-size: 28px;
      display: flex;
      align-items: center;
      color: white;
    }
  }
  &__menu-list{
    display: flex;
    align-items: center;
    padding-inline-start: 0;

    &--element{
      list-style: none;
      padding: 0 10px;
      font-size: 18px;
      color: white;
      &:hover{
        cursor: pointer;
      }

    }
    &--link{
      text-decoration: none;
      color: white;
      cursor: pointer;
    }
  }

}