.list{

  padding: 0 5px 10px;
  &>a:nth-child(odd){
    background-color: #f3f3f3;
  }
  &>a{
    &:hover{
      background-color: #e2e2e2;
    }
  }

  &__row{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    position: relative;
    flex-wrap: wrap;
    
    &--title{
      padding: 10px 10px ;
    }
    &--link{
      text-decoration: none;
      color: black;
      &:active{
        color: black;
      }
    }
  }

  &__cell{
    font-size: 18px;
    &--wide{
      width: 300px;
      @media (max-width: 767px) {
        width: 200px;
      }
      @media (max-width: 424px) {
        width: 100px;
      }
    }
    &--normal{
      width: 200px;
      @media (max-width: 767px) {
        width: 100px;
      }
    }
    &--small{
      width: 100px;
    }
  }
  &__radio-button{
    cursor: pointer;
    font-size: 19px;
    padding: 2px 0;
    @media (max-width: 463px) {
      font-size: 22px;

    }
    &--active{
      color: #31a8ff;
    }
    &:hover {
      color: #59abe6;
    }
    &--wrap{
      display: inline-flex;
      justify-content: space-between;
      width: 400px;
      box-sizing: border-box;
      padding: 13px 20px;
      transition-duration: 0.5s;
      outline: none;
      @media (max-width: 463px) {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
    }
    &--radio{
      position: absolute;
      visibility: hidden;
    }
  }

  &__label{
    font-size: 24px;
    display: flex;
    align-items: center;
  }
  &__message{
    text-align: center;
    font-size: 21px;
    color: #676767;
    font-weight: 300;
  }
}

.wrap{
  position: relative;
  &::before{
    content: "";
    background-color: #a7a7a7;
    position: absolute;
    height: 1px;
    width: 70%;
    left: 15%;
    top: 0;
  }
}

@mixin text($size){
  font-size: $size;
  color: black;
  text-decoration: none;
}


.title{
  position: relative;
  padding-top: 5px;
  margin-top: 10px;
  @include text(20px);
}
.empty{
  font-size: 20px;
  color: black;
  text-decoration: none;
  @include text(20px);
}

.row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 15px 0;
  padding: 0 10px;
  gap: 15px;
}