.list{

  padding: 0 5px 10px;
  &>a:nth-child(odd){
    background-color: #f3f3f3;
  }
  &>a{
    &:hover{
      background-color: #e2e2e2;
    }
  }

  &__row{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    position: relative;
    &--title{
      padding: 10px 10px ;
    }
    &--link{
      text-decoration: none;
      color: black;
      &:active{
        color: black;
      }
    }
  }

  &__cell{
    font-size: 18px;
    &--wide{
      width: 300px;
    }
    &--normal{
      width: 200px;
    }
    &--small{
      width: 100px;
    }
  }
  &__radio-button{
    cursor: pointer;
    font-size: 19px;

    &--active{
      color: #31a8ff;
    }
    &:hover {
      color: #59abe6;
    }
    &--wrap{
      display: inline-flex;
      justify-content: space-between;
      width: 400px;
      box-sizing: border-box;
      padding: 13px 20px;
      transition-duration: 0.5s;
      outline: none;
    }
    &--radio{
      position: absolute;
      visibility: hidden;
    }
  }

  &__label{
    font-size: 24px;
    display: flex;
    align-items: center;
  }
  &__message{
    text-align: center;
    font-size: 21px;
    color: #676767;
    font-weight: 300;
  }
}